.icon {
	stroke-width: 0.9;
	width: 20px;
}
.icon:hover {
	transform: translateY(-3px);
	/* color: '#64ffda'; */
	color: 'red';
	background-color: 'red';
}

.switch-icon {
	width: 30px;
	padding: 2px;
	stroke-width: 0.8;
	/* text-align: center;
	height: 1px; */
}
